<% if @phones.present? %>
  <div class="row">
    <div class="p-2 text-start">
      <h3>Dòng sản phẩm OPPO</h3>
      <% @phones_oppo = Phone.where(brand_id: 6) %>
      <% if @phones_oppo.any? %>
        <% @phones_oppo.each_with_index do |phone, index| %>
          <% if index % 4 == 0 %>
            <% if index != 0 %>
              </div> <!-- Close previous row -->
            <% end %>
            <div class="row">
          <% end %>
          <div class="col-md-3 mb-4">
            <div class="card w-100 h-100 d-flex flex-column">
              <% @phoneDetails = PhoneDetail.find_by(phone_id: phone.id) %>
              <% if @phoneDetails %>
                <img src="/assets/<%= @phoneDetails.thumbnail_img %>" alt="Thumbnail" class="h-50">
              <% else %>
                <img src="/assets/default_thumbnail.jpg" alt="Default Thumbnail" class="h-50">
              <% end %>
              <hr>
              <div class="card-body d-flex flex-column justify-content-between">
                <a href="product/details/<%= phone.id %>"
                   class="card-title text-decoration-none text-danger hover:text-primary" style="font-size: 20px;"
                   title="<%= phone.phone_name %>">
                  <%= phone.phone_name %>
                </a>
                <a href="product/details/<%= phone.id %>" class="btn btn-primary w-50 mt-2">
                  <%= number_with_delimiter(@phoneDetails&.price || 0, delimiter: ".") %>đ
                </a>
              </div>
            </div>
          </div>
        <% end %>
        </div> <!-- Close the last row -->
      <% else %>
        <p>No phones found for this brand.</p>
      <% end %>
      <hr>
      <h2>Dòng sản phẩm APPLE</h2>
      <% @phones_apple = Phone.where(brand_id: 5) %>
      <% if @phones_apple.any? %>
        <% @phones_apple.each_with_index do |phone, index| %>
          <% if index % 4 == 0 %>
            <% if index != 0 %>
              </div> <!-- Close previous row -->
            <% end %>
            <div class="row">
          <% end %>
          <div class="col-md-3 mb-4">
            <div class="card w-100 h-100 d-flex flex-column">
              <% @phoneDetails = PhoneDetail.find_by(phone_id: phone.id) %>
              <% if @phoneDetails %>
                <img src="/assets/<%= @phoneDetails.thumbnail_img %>" alt="Thumbnail" class="h-50">
              <% else %>
                <img src="/assets/default_thumbnail.jpg" alt="Default Thumbnail" class="h-50">
              <% end %>
              <hr>
              <div class="card-body d-flex flex-column justify-content-between">
                <a href="/details/<%= phone.id %>"
                   class="card-title text-decoration-none text-danger hover:text-primary" style="font-size: 20px;"
                   title="<%= phone.phone_name %>">
                  <%= phone.phone_name %>
                </a>
                <a href="/details/<%= phone.id %>" class="btn btn-primary w-50 mt-2">
                  <%= number_with_delimiter(@phoneDetails&.price || 0, delimiter: ".") %>đ
                </a>
              </div>
            </div>
          </div>
        <% end %>
        </div> <!-- Close the last row -->
      <% else %>
        <h2>Máy chủ lỗi: <svg class="w-25 h-25" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
          <!-- Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc. -->
          <path d="M400 406.1L400 288c0-13.3-10.7-24-24-24s-24 10.7-24 24l0 152.6c-28.7 15-61.4 23.4-96 23.4s-67.3-8.5-96-23.4L160 288c0-13.3-10.7-24-24-24s-24 10.7-24 24l0 118.1C72.6 368.2 48 315 48 256C48 141.1 141.1 48 256 48s208 93.1 208 208c0 59-24.6 112.2-64 150.1zM256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM159.6 220c10.6 0 19.9 3.8 25.4 9.7c7.6 8.1 20.2 8.5 28.3 .9s8.5-20.2 .9-28.3C199.7 186.8 179 180 159.6 180s-40.1 6.8-54.6 22.3c-7.6 8.1-7.1 20.7 .9 28.3s20.7 7.1 28.3-.9c5.5-5.8 14.8-9.7 25.4-9.7zm166.6 9.7c5.5-5.8 14.8-9.7 25.4-9.7s19.9 3.8 25.4 9.7c7.6 8.1 20.2 8.5 28.3 .9s8.5-20.2 .9-28.3C391.7 186.8 371 180 351.6 180s-40.1 6.8-54.6 22.3c-7.6 8.1-7.1 20.7 .9 28.3s20.7 7.1 28.3-.9zM208 320l0 32c0 26.5 21.5 48 48 48s48-21.5 48-48l0-32c0-26.5-21.5-48-48-48s-48 21.5-48 48z" />
        </svg></h2>
      <% end %>
    </div>
  </div>
<% else %>
  <p>No phones available.</p>
<% end %>
